# LIST

In [11]:
l1 = [0,1,2,3,4,5,6]
l2 = [9,8,7,6,5,4,3]

In [12]:
print(l1)

[0, 1, 2, 3, 4, 5, 6]

In [13]:
print(l2)

[9, 8, 7, 6, 5, 4, 3]

In [14]:
print(l2[3])

6

In [15]:
print(l1[-3]) #-ve indexing

4

In [16]:
print(l2[1:3]) #slicing

[8, 7]

In [17]:
l1.append(5)
print (l1)

[0, 1, 2, 3, 4, 5, 6, 5]

In [18]:
l1.extend(l2)
print (l1)

[0, 1, 2, 3, 4, 5, 6, 5, 9, 8, 7, 6, 5, 4, 3]

In [19]:
max(l1)

9

In [20]:
min(l1)

0

In [21]:
number = [1,5]
number.insert(1,3)
print(number)

[1, 3, 5]

# Tuples

In [22]:
tuple = (9,8,7) # integer
print(tuple)

(9, 8, 7)

In [23]:
tuple1 = (9, "Shivani", 8)
print(tuple1)

(9, 'Shivani', 8)

In [24]:
tuple[1]=10 #not an mutable type

TypeError: 'tuple' object does not support item assignment

In [27]:
print(type(tuple))

<class 'tuple'>

In [28]:
len(tuple)

3

In [29]:
tuple.count(8)

1

In [30]:
tuple2 = (1,2,3,4,5,6,7,8,9)
ascii(tuple2)

'(1, 2, 3, 4, 5, 6, 7, 8, 9)'

In [31]:
bool(tuple2)

True

In [32]:
bool(tuple1)

True

In [34]:
sum(tuple2)

45

In [38]:
sorted(tuple2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Strings

In [40]:
string = 'Shivani'# both cells are equilavent
print(string)

Shivani

In [41]:
string1 = "Shivani"
print(string1)

Shivani

In [43]:
print(string[0])

S

In [45]:
string1.isdigit()

False

In [46]:
print(string+string1)

ShivaniShivani

In [47]:
max(string)

'v'

In [48]:
min(string)

'S'

# Loop Questions

In [58]:
last= int(input("Enter"))
for i in range(0,last+1):
    print (i)

Enter20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [59]:
no = int(input("Enter the number"))
for i in range(1, no+1):
    if(i % 2==0):
        print(i)

Enter the number12
2
4
6
8
10
12

In [64]:
no = int(input("Enter the number")) #ques3
sum=0
for i in range(1, no+1):
    sum=sum + i;
print(sum)

Enter the number10
55

In [65]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
last=10
for i in range(0,last+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [67]:
last=10
for i in range(0,last+1,2):
    print(i)

0
2
4
6
8
10

In [68]:
last=10
for i in range(0,last+1,3):
    print(i)

0
3
6
9

In [70]:
#pattern building/matrix it uses nested for loop ques 2
for i in range(1,6):
    for j in range(1,i+1):
        print(j)

1
1
2
1
2
3
1
2
3
4
1
2
3
4
5

In [71]:
#pattern building/matrix it uses nested for loop
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end='')

112123123412345

In [73]:
#pattern building/matrix it uses nested for loop
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end='')
    print("")

1
12
123
1234
12345

In [96]:
a = 5 #method1 ques7 Print the following pattern using for loop
b = 5
for i in range(0,a+1):
    for j in range(b-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [97]:
for i in range(1,6): #method2 ques7
    for j in range(6-i,1,-1):
        print(j,end=' ')
    print()

5 4 3 2
4 3 2
3 2
2

In [91]:
num=2 #ques 4
for i in range(1,11):
    mul=num*i
    print(mul)

2
4
6
8
10
12
14
16
18
20

In [99]:
# ques 8 Reverse the following list using for loop
list1 = [10, 20,30, 40, 50]
for i in range(4,-1,-1):
    print(list1[i])

50
40
30
20
10

In [102]:
# ques 9 Display -10 to -1 using for loop
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [104]:
# ques 10 Display a message “Done” after successful execution of for loop
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

In [2]:
# Print First 10 natural numbers using while loop 
i = 0
while i <= 10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#  Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if (i> 150):
        break
    if(i % 5 == 0):
        print(i)

15
55
75
150